<footer class="container-fluid">

    <!-- Footer Top Start -->
    <div class="footer-top container-fluid">
      <div class="col col-12 col-md-3 mb-4">
        <div class="head-title mt-5 mb-4">
          <h2>Sobre nosotros</h2>
        </div>
        <div class="contenedor ">

          <ul class="d-flex flex-column">
            <li><a href="#">Carrera 9 #25n-50 Popayán-Cauca</a></li>
            <li><a href="#">3135553535 - 0624454545</a></li>
            <li><a href="#">{{"info@empabee.com"}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col col-12 col-md-3 mb-4">
        <div class="head-title mt-5 mb-4">
          <h2>Categorías</h2>
        </div>
        <div class="contenedor ">
          <ul class="d-flex flex-column ">
            <li><a href="#">Miel</a></li>
            <li><a href="#">Monitoreo</a></li>
            <li><a href="#">Sensores</a></li>
            <li><a href="#">Abejas</a></li>
            <li><a href="#">Planes</a></li>
          </ul>
        </div>
      </div>
      <div class="col col-12 col-md-3 mb-4">
        <div class="head-title mt-5 mb-4">
          <h2>Información</h2>
        </div>
        <div class="contenedor ">
          <ul class="d-flex flex-column">
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Contactanos</a></li>
            <li><a href="#">Politicas & privacidad</a></li>
            <li><a href="#">Ordenes & Devoluciones</a></li>
            <li><a href="#">Terminos & Condiciones</a></li>
          </ul>
        </div>
      </div>
      <div class="col col-12 col-md-3 mb-4">
        <div class="head-title mt-5 mb-4">
          <h2>Servicios</h2>
        </div>
        <div class="contenedor ">
          <ul class="d-flex flex-column">
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Ver carrito</a></li>
            <li><a href="#">Reporte de sensores</a></li>
            <li><a href="#">Seguir colmena</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Footer Top End -->

    <!-- Footer Bottom Start -->
    <div class="footer-bottom container-fluid m-0 p-0">
      <div class="payment-method ">
        <ul>
          <li><a href="#"><i class="fa-brands fa-cc-visa"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-cc-mastercard"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-cc-paypal"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-cc-amex"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-cc-amazon-pay"></i></a></li>
        </ul>
      </div>
      <div class="copyright">
        <p>Copyright ©2023 All rights reserved | by <a href="#">Empa-Bee</a></p>
      </div>
    </div>
    <!-- Footer Bottom End -->

  </footer>
